<div class="jumbotron center">
	
	<h1>Fairpercent</h1>
	<p>Check out Yonathan Ayenew 
	<%= link_to "Log in", "http://www.yonayen.me", class: "btn btn-primary" %>
	<%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %>

</p>

</div>
